<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Player</title>
</head>
<body>
    Enter the player you want to delete:<br/><br/>

    <form method="post" action="/delete" name="formgamer" th:object="*{gamer}">
        Name :
        <label>
            <input type="text" name="name" th:field="*{name}"/>
        </label>
        <br/><br/>
        <input type="submit" value="Click to Delete gamer"/>
    </form>

</body>
</html>